{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "prettier", "jsx-a11y", "eslint-plugin-cypress"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "cypress/globals": true
  },
  "rules": {
    "no-console": "off", // We use console.log for demonstrative purposes
    "no-unused-vars": "off", // At times we have unused variables across chapters/sections
    "react-hooks/rules-of-hooks": "error", // Checks rules of React Hooks
    "react-hooks/exhaustive-deps": "warn" // Checks Hooks effect dependencies
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
